@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
    border-top: 1px solid #00468B;
    padding-top: 2em;
}

.contact {
    font-size: 110%;
    margin-top: 0;
    margin-bottom: 0.3em;
}

.contact > a {
    margin-right: 1em;
    text-decoration: none;
    color: #555;
    white-space: nowrap;
}

.code {
    background-color: #E6E6E6;
    font-family: monospace;
    padding: 3px;
}

.divide {
    background-color: #BBB;
    border-bottom: 1px solid #EEE;
    height: 1px;
    margin-bottom: 1em;
}

.spacer {
    height: 2em;
}

h1 {
    color: #00468B;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    color: #00468B;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
}

h3 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

h4 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

h3 > small {
    color: #AAA;
}

li {
    list-style-type: none;
}

li::before {
    content: "| ";
}

blockquote {
    font-size: 140%;
    font-style: italic;
}

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
    font-family: 'Open Sans', sans-serif;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}
