@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

.dark {
	background: transparent linear-gradient(#343E5C, #223149) repeat scroll 0% 0%;
	color: #EEE;
}

.title {
	font-size: 150%;
}

.headline {
	font-size: 230%;
	text-align: center;
	margin: 3em;
}

.pop {
	color: #FF8300;
}

.title i {
	color: #00EE00;
}

blockquote {
    font-size: 140%;
    font-style: italic;
}

.pure-g [class*="pure-u"] {
	font-family: 'Open Sans', sans-serif;
}

.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.l-box {
	padding: 1em;
}
