body {
    border-top: 2px solid #2CC48A;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga","kern";
}

img {
  width: 100%;
}

.contact {
    font-size: 110%;
    margin-top: 0;
    margin-bottom: 0.3em;
}

.contact > a {
    margin-right: 1em;
    text-decoration: none;
    color: #555;
    white-space: nowrap;
}

pre {
    background-color: #F6F6F6;
    font-family: monospace;
    padding: 8px;
    border-top: 1px solid #2CC48A;
    border-bottom: 1px solid #2CC48A;
}

p > code {
    background-color: #F6F6F6;
    padding-left: 3px;
    padding-right: 3px;
    color: #333;
}

.divide {
    background-color: #BBB;
    border-bottom: 1px solid #EEE;
    height: 1px;
    margin-bottom: 1em;
}

.spacer {
    height: 2em;
}

.perma {
    float: right;
    color: #AAA;
}

.pure-menu-allow-hover > a {
    cursor: pointer;
}

.figure {
    border: 1px solid #EFEFEF;
    width: 100%;
}

.figure > div {
    margin: 1em;
}

.figure .caption {
    padding: 0.2em 0.5em 0.2em 0.2em;
    color: #333;
    background-color: #EFEFEF;
}

.nowrap {
    white-space: nowrap;
}

.warning {
    background-color: #FE0;
    color: #555;
    padding: 0.2em;
}

h1 {
    background: -webkit-linear-gradient(top, #00468B, #2CC48A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(top, #00468B, #2CC48A);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: linear-gradient(top, #00468B, #2CC48A);
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1em;
    font-weight: 300;
}

h2 {
    background: -webkit-linear-gradient(top, #00468B, #2CC48A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(top, #00468B, #2CC48A);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: linear-gradient(top, #00468B, #2CC48A);
    background-clip: text;
    text-fill-color: transparent;
    margin-top: 0.1em;
    font-weight: 300;
}

h3 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

h4 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

h3 > small {
    color: #AAA;
}

.postbody p {
    text-align: justify;
    color: #333;
    font-size: 1.1em;
}

.postbody ul {
    border-left: 2px solid #2CC48A;
    padding-left: 8px;
    font-size: 1.1em;
}

.postbody li {
    list-style-type: none;
}

.postbody li::before {
    color: #2CC48A;
    content: "▻ ";
}

.pure-menu-children {
    border: 1px solid #AAA;
}

blockquote {
    font-size: 140%;
    font-style: italic;
    background: -webkit-linear-gradient(top, #00468B, #2CC48A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(top, #00468B, #2CC48A);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: linear-gradient(top, #00468B, #2CC48A);
    background-clip: text;
    text-fill-color: transparent;
}

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
    font-family: -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen-Sans,
                Ubuntu,
                Cantarell,
                "Helvetica Neue",
                sans-serif;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.note {
    font-size: 80%;
    padding-left: 0.5em;
    border-left: 4px solid #AAA;
}

@media screen and (max-width:767px) {
    .title h1 {
        text-align: center;
    }

    .title .pure-menu {
        text-align: center;
    }

    .title .pure-menu li {
        text-align: left;
    }

    .l-box {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
}

.visible-tiny {
    display: none;
}

@media screen and (max-width: 350px) {
    .visible-tiny {display: inherit};
}

/* pure-hidden-xs */
@media screen and (max-width:567px) {
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-xs{display:none}
}
/* pure-hidden-sm */
@media screen and (min-width:568px) and (max-width:767px) {
    .pure-visible-xs{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-sm{display:none}
}
/* pure-hidden-md */
@media screen and (min-width:768px) and (max-width:1023px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-md{display:none}
}
/* pure-hidden-lg */
@media screen and (min-width:1024px) and (max-width:1279px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-lg{display:none}
}
/* pure-hidden-xl */
@media screen and (min-width:1280px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-hidden-xl{display:none}
}
