$base-color: #ff6b6b; 
$base-color-transparent: #ff6b6b10; 
$secondary-color: #3DA5D9; 
$secondary-color-transparent: #3DA5D910; 
$tertiary-color: #73BFB8; 
$tertiary-color-transparent: #73BFB810; 

.page-container {
	display: grid;
	grid-template-columns: 1fr 70ch 1fr;
	grid-template-areas:
	". header  ."
	". nav     ."
	". content .";
}

@media (max-width: 91ch) {
	.page-container {
		grid-template-columns: 1fr;
		grid-template-areas:
		"header"
		"nav"
		"content";
	}
}

body {
	font-family: Helvetica, sans-serif;
	color: #111;
	text-rendering: optimizeLegibility;
	border-top: 2px solid $base-color;
	margin: 0;
	padding: 0.3em;
}

h1, h2, h3, h4, h5, h6 {
	color: $base-color;
	font-family: sans-serif;
}

h4 {
	font-size: 0.9em;
}

.title {
	margin-bottom: 2px;
}

.subtitle {
	color: #888;
}

.page-header h1 {
	align-self: center;
	margin: 0;
	display: inline-block;
}

.page-header h1 a {
	color: $base-color;
	text-decoration: none;
}

pre {
	padding: 1em;
	border-radius: 0.5em;
}

.code {
    background-color: #f8f8f8;
    font-family: monospace;
}

.link-box {
	padding-left: 1em;
	display: flex;
	align-content: center;
	flex-direction: column;
}

.link-box a {
	font-size: 0.8em;
	text-decoration: none;
	flex: 1;
	line-height: 1em;
}

a {
	color: $secondary-color;
}

a:visited {
	color: $secondary-color;
}

ul {
	list-style-type: circle;
}

blockquote {
	text-align: right;
	color: #888;
	font-style: italic;
	font-size: 1.3em;
}

.highlighter-rouge {
	background-color: #f8f8f8;
}

div.highlighter-rouge {
	overflow: scroll;
	border-top: 3px solid #333;
	border-bottom: 3px solid #333;
	padding-left: 0.5em;
}

.figure {
	border-top: 3px solid $secondary-color-transparent;
	border-bottom: 3px solid $secondary-color-transparent;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.figure > img {
	max-width: 100%;
	height: auto;
}

.post {
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px dashed $secondary-color;
}

.page-header {
	padding-top: 0.3em;
	grid-area: header;
	display: flex;
}

.page-nav {
	position: relative;
	grid-area: nav;
	text-align: center;
}

#show-nav-controller {
	display: none;
}

.page-nav h5 {
	cursor: pointer;
	display: inline;
	margin: 0;
	user-select: none;
	-moz-user-select: none;
}

.page-nav h5:after {
	content: "\25BC";
}

#show-nav-controller:checked ~ label h5:after {
	content: "\25B2";
}

#show-nav-controller:checked ~ ul {
	background-color: #fff;
	z-index: 10;
	display: block;
}

.page-nav hr {
	margin-left:auto;
	margin-right:auto;
	width: 35%;
	background-color: $base-color;
	height: 2px;
	border: 0;
}

.right {
	float: right;
};

.left {
	float: left;
}

.page-nav ul {
	width: 100%;
	margin: 0;
	position: absolute;
	display: none;
	text-align: left;
	padding: 1em 0;
	list-style-type: none;
	border-bottom: 2px solid $base-color;
}

.page-nav ul li {
	padding-right: 3em;
	font-size: 0.8em;
	color: #555;
}

.page-content {
	grid-area: content;
	overflow: hidden;
	min-width: 200px;
}

.note {
	border: 1px solid;
	border-color: $tertiary-color;
	padding: 0.8em;
	border-radius: 10px;
	background-color: $tertiary-color-transparent;
	color: $tertiary-color;
}

.note > span {
	font-weight: bold;
}

